@model MVC_Webapp.Models.Educations

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Educations</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.startDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.startDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.endDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.endDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.board)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.board)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.degree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.degree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.education_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
